body {
    width: 500px;
    height: auto;
    font-family: 'Segoe UI';
    font-size: 14px;
    margin: auto;
    background: darkgrey;
}

table {
    width: 100%;
    margin: 50px auto;
    border: 1px solid black;
    background: white;
}

th, td {
    padding: 0 5px;
    margin: 0 5px;
}

th, tfoot {
    background: black;
    color: white;
}

td {
    border: 1px solid black;
}

tfoot td {
    text-align: right;
}

.controlsTFOOT {
    border: none;
    background: black;
    color: white;
}

input[type='button'].controlsTFOOT {
    cursor: pointer;
}

input[type='button'].controlsTFOOT:hover {
    color: aqua;
}
